<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target
      name="logfile"
      xsi:type="File"
      layout="${longdate} | ${level} | ${callsite} | ${message}"
      fileName="C:\LogFiles\Orek\Orek_Service.${date:format=yyyyMMdd}.log"
      />
    <target
      name="debuglogfile"
      xsi:type="File"
      layout="${longdate} | ${level} | ${callsite} | ${message}"
      fileName="C:\LogFiles\Orek\Orek_Service_Debug.${date:format=yyyyMMdd}.log"
      />
    <target 
      name="tracelogfile" 
      xsi:type="File" 
      layout="${longdate} | ${level} | ${callsite} | ${message}" 
      fileName="C:\LogFiles\Orek\Orek_Service.Trace.${date:format=yyyyMMdd}.log" 
    />

  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Debug" writeTo="debuglogfile" />
    <logger name="*" minlevel="Trace" writeTo="tracelogfile" />
  </rules>
</nlog>